@model Yadam.ViewModels.AlbumSummaryViewModel;

@{
    ViewData["Title"] = "Add Album";
}
<h1>@ViewData["Title"]</h1>

<p>Enter new album details here.</p>

<form asp-controller="Home" asp-action="CreateAlbum" method="post">


    <div>
        <div class="row">
            <div class="label">Item Title:</div>
            <div><input asp-for="Title" type="text" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="label">Description:</div>
            <div><input asp-for="Summary"  type="text" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="label">Browse:</div>
            <div><input asp-for="Summary"  type="text" class="form-control" /></div>
        </div>
    </div>

    <p><button type="submit" class="btn btn-primary">Create Album</button></p>
</form>
