@model Yadam.ViewModels.AlbumViewModel

@{
    ViewData["Title"] = "Display Full Album";
}

<style>
    .album-display-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .album {
        background: khaki;
        width: 200px;
        height: 200px;
        float: left;
        margin: 1em;
        border-radius: 15px;
        border-style: solid;
        border-width: 2px;
    }

    .full-album-menu-bar {
        background-color: cornflowerblue;
        border-radius:  15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .full-album-menu-bar-contents {
        font-size: medium;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
</style>

<form method="post" id="dataForm" asp-controller="Home" asp-action="AddItem">
    <input type="hidden" id="titleStore" name="titleStore" value="">
    <input type="hidden" id="descriptionStore" name="descriptionStore" value="">
    <input type="hidden" id="filePathStore" name="filePathStore" value="">
    <input type="hidden" id="albumId" name="albumId" value=@Model.AlbumId>
    <button type="submit" style="display: none;"></button>
</form>

<div class="full-album-menu-bar">
    <div class="full-album-menu-bar-contents">
        Album: @Model.AlbumTitle<br/>
        Description: @Model.AlbumSummary<br/>
        Album Id: @Model.AlbumId<br/>
    </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddItemPrompt" asp-route-id=@Model.AlbumId>Add Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddItemPrompt" asp-route-id=@Model.AlbumId>Add Item</a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link text-dark" asp-area=""  data-bs-toggle="modal" data-bs-target="#addItemModal">Add Item With Modal</a>
                        </li>
                     </ul>
                </div>
            </div>
        </nav>
</div>

<div style="display: flex;">
    @foreach (var item in Model.Items)
    {
       <div class="album">
            <img class="thumbnail-picture" src="@Url.Action("GetSambaImage", "Home", new { imagePath = Model.AlbumRootPath + item.AlbumId + "\\" + item.Filename })" style="width: 192px;height: 192px; padding-left: 5px; padding-top: 5px; border-radius: 25px"/>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Album Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="label">Item Title:</div>
                        <div><input type="text" class="form-control" id="itemTitleEntry"  /></div>
                    </div>
                    <div class="row">
                        <div class="label">Description:</div>
                        <div><input type="text" class="form-control" id="itemDescriptionEntry"  /></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label">Choose a file:</label>
                    <input type="file" name="filePathEntry" class="form-control-file" id="filePathEntry"  onchange="displayFilePath()" />
                </div>
                <div class="form-group">
                    <label for="filePath">Selected File Path:</label>
                    <input type="text" id="filePath" name="filePath" class="form-control" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addItem()">Add Item</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function addItem() {
        var title = $('#itemTitleEntry').val()
        var description = $('#itemDescriptionEntry').val()
        var filePath = $('#filePathEntry').val()
          
        alert('title = ' + title);
        alert('description = ' + description);
        alert('filePath = ' + filePath);
        
        
        if ($('#itemTitleEntry').val() == "" || $('#itemDescriptionEntry').val() == ""){
        } else {
            $('#addItemModal').modal('hide');
            $('#titleStore').val($('#itemTitleEntry').val());
            $('#descriptionStore').val($('#itemDescriptionEntry').val());
            $('#filePathStore').val($('#filePathEntry').val());
            document.getElementById("dataForm").submit();
        }
    }
</script>
